@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Message</h1>
    <div>
        <a asp-action="SetExernal">External</a> |
        <a asp-action="SetConcellor">Concellor</a> |
        <a asp-action="SetAdmin">Admin</a>
    </div>
</div>